/*
    Size Classes
*/

.fullheight {
    height: 100vh;
}

.halfheight {
    height: 50vh;
}


.vcenter {
    display: table;
    width: 100%;

    > div,
    > article {
        display: table-cell;
        vertical-align: middle;
    }
}
